@import './../../../styles/_vars.scss';

.addBtn {
}

.optionBox {
  position: absolute;
  top: 40px;
  left: 15px;
}

.optionMenu {
  border-radius: 5px;
  padding: 10px;
  background-color: $veryLightWhite;
  box-shadow: $boxShadow1;
  border: 1px solid $gray50;
  .title {
    font-weight: 500;
    border-bottom: 1px solid $gray20;
  }
  .option {
    padding: 5px 0px;
    cursor: pointer;
    &:hover {
      background-color: $veryLightWhite2;
    }
    .detail {
      padding-left: 5px;
      width: 170px;
      .label {
        font-weight: 500;
      }
      //   .desc {
      //   }
    }

    .image {
      height: auto;
      width: auto;
      min-height: 70px;
      min-width: 70px;
      background-size: cover;
    }
  }
}
